.contactPage{
    width: 80%;
    margin: 50px auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.contactDtl{
    width: 50%;
}
.contactDtl ,form{
   color: #0E0E28;
   padding: 20px;
}
.contactDtl h1{
    padding: 5px 20px;
}
.input ,.inputx{
    width: 100%;
    outline: none;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 5px;
    height: 20px;
    padding: 20px;
}
.inputx{
    width: 96%;
    height: 30px;
    padding: 30px;
}
.submit{
    padding: 20px 40px;
    margin: 20px 0;
    color: white;
    border: none;
    font-weight: 600;
    transition: 0.5s;
    background-color: #0E0E28;
}
.submit:hover{
    background-color: #ff3e3e;
    color: #0E0E28;;
}
.contactMap{
    width: 45%;
}
@media only screen and (max-width:915px) {
    .contactPage{
        width: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }
    .contactMap{
        width: auto;
    }
    .contactDtl{
        width: auto;
    }
}
@media only screen and (max-width:375px){
    .input,.inputx{
        height: 15px;
    }
}